<article class="shrink-0 flex flex-col gap-5 group">
  <a href="{{ card_product.url | within: collection }}">
    <div class="aspect-[4/5] transition duration-300 ease relative">
      <img
        width="{{ card_product.featured_image.width }}"
        height="{{ card_product.featured_image.height }}"
        src="{{ card_product.featured_image | image_url: width: 410 }}"
        srcset="{{ card_product.featured_image | image_url: width: 205 }} 1x, {{ card_product.featured_image | image_url: width: 410 }} 2x"
        alt="{{ card_product.featured_image.alt }}"
        class="absolute inset-0 object-contain h-full transition ease duration-500"
        loading="lazy"
      >
      {% if card_product.media[1] %}
        <div class="absolute inset-0 bg-stone-50 opacity-0 group-hover:opacity-100 transition ease duration-500">
          <img
            width="{{ card_product.media[1].width }}"
            height="{{ card_product.media[1].height }}"
            src="{{ card_product.media[media[1]] | image_url: width: 410 }}"
            srcset="{{ card_product.featured_image | image_url: width: 205 }} 1x, {{ card_product.media[1] | image_url: width: 410 }} 2x"
            alt="{{ card_product.media[1].alt }}"
            class="absolute inset-0 object-contain h-full transition ease duration-500"
            loading="lazy"
          >
        </div>
      {% endif %}
    </div>
  </a>
  <header class="flex">
    <div class="flex-grow">
      <h3 class="text-black font-bold capitalize text-lg font-narrow tracking-tight">{{ card_product.title | downcase }}</h3>
      {% if card_product.options contains 'Color' %}
        <div class="text-subtle ease transition duration-300">
          {% assign color_index = nil %}
          {% for option in card_product.options %}
            {% if option == 'Color' %}
              {% assign color_index = forloop.index0 %}
            {% endif %}
          {% endfor %}
          {% assign color_values = '' %}
          {% for variant in card_product.variants %}
            {% assign color = variant.options[color_index] %}
            {% unless color_values contains color %}
              {% assign color_values = color_values | append: color | append: ', ' %}
            {% endunless %}
          {% endfor %}
          {{ color_values | split: ', ' | uniq | join: ', ' | strip }}
        </div>
      {% endif %}
    </div>
    <div class="text-right ease transition duration-300 opacity-0 group-hover:opacity-100">
      <span>{{ card_product.price | money }}</span>
    </div>
  </header>
</article>