{% comment %}
  Usage:
  {% render 'product-grid-item',
    product: {product object}
  %}
{% endcomment %}

<div class="product-grid-item relative group">
  <div class="absolute right-0 bottom-0 p-5 z-10">
    {% form 'product', prod %}
      <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}">
      <input type="hidden" name="quantity" value="1">
      <button
        type="submit" 
        class="bg-white hover:bg-black hover:text-white size-12 flex items-center justify-center rounded-full invisible opacity-0 group-hover:visible group-hover:opacity-100 transition ease"
        value="Add to cart">
        <span class="sr-only">Add to cart</span>
        <i data-lucide="plus"></i>
      </button>
      <div data-ajax-cart-messages="form"></div>
    {% endform %}
  </div>
  <div class="grid grid-cols-2 gap-0.5">
    <div class="aspect-[4/6] bg-neutral-100 relative">
      <div class="absolute inset-0">
        <img
          width="{{ prod.featured_image.width }}"
          height="{{ prod.featured_image.height }}"
          src="{{ prod.featured_image | image_url: width: 410 }}"
          srcset="{{ prod.featured_image | image_url: width: 205 }} 1x, {{ prod.featured_image | image_url: width: 410 }} 2x"
          alt="{{ prod.featured_image.alt }}"
          class="object-contain h-full w-full mix-blend-multiply"
          loading="lazy"
        />
      </div>
    </div>
    <div class="aspect-[4/6] bg-neutral-100 relative">
      <div class="absolute inset-0">
        {% if prod.media.size > 1 %}
          <video 
            width="{{ prod.media[1].width }}"
            height="{{ prod.media[1].height }}"
            class="object-cover h-full w-full mix-blend-multiply"
            controls
            autoplay playsinline muted loop
          >
            <source src="{{ prod.media[1] | asset_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {% comment %} <video
            width="{{ prod.media[1].width }}"
            height="{{ prod.media[1].height }}"
            alt="{{ prod.media[1].alt }}"
            class="object-cover h-full w-full mix-blend-multiply"
            loading="lazy"
            autoplay playsinline muted loop
          >
            <source src="{{ prod.media[1] | image_url: width: 410 }}" type="video/mp4">
          </video> {% endcomment %}
        {% else %}
          <img
            width="{{ prod.featured_image.width }}"
            height="{{ prod.featured_image.height }}"
            src="{{ prod.featured_image | image_url: width: 410 }}"
            srcset="{{ prod.featured_image | image_url: width: 205 }} 1x, {{ prod.featured_image | image_url: width: 410 }} 2x"
            alt="{{ prod.featured_image.alt }}"
            class="object-contain h-full w-full mix-blend-multiply"
            loading="lazy"
          />
        {% endif %}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-x-0.5 absolute inset-x-0 bottom-0 text-sm">
    <div class="bg-white flex flex-col gap-1 pt-2 pr-2">
      <div class="flex justify-between items-center">
        <span>{{ prod.title }}</span>
        <div class="text-right">
          {% if prod.price_varies %}
            <span>
              From
            </span>
          {% endif %}
          <span>
            {{ prod.price | money }}
          </span>
          {% if prod.compare_at_price_max != blank and prod.compare_at_price_max > prod.price %}
            <s class="text-[13px]">{{ prod.compare_at_price_max | money_with_currency }}</s>
          {% endif %}
        </div>
      </div>
      <div class="col-span-2">
        {% for option in prod.options_with_values %}
          {% if option.name == 'Color' %}
            <ul class="flex items-center gap-1">
              {% for value in option.values %}
                <li>
                  <div class="size-2 bg-black rounded-full"></div>
                  <span class="sr-only">{{ value }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>