<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {%- liquid
      render 'vite' with 'theme.css'
      render 'vite' with 'theme.js'
    -%}

    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}
    {{ content_for_header }}
  </head>

  <body
    class="antialiased text-[14px] text-stone-800">

    <a class="skip-to-content-link sr-only" href="#main-content">
      Skip to content
    </a>

    {% section 'main-header' %}

    <main
      id="main-content"
      role="main"
      class="site-main relative">
      {{ content_for_layout }}
    </main>

    {% section 'main-footer' %}

  </body>
</html>
