<div class="py-5 lg:py-10 border-y border-stone-100 mb-5 lg:mb-20 shadow-lg shadow-zinc-500/5">
  <div class="container grid grid-flow-row grid-cols-2 gap-5 lg:grid-cols-4 lg:gap-y-10 lg:gap-x-20">
    <div class="col-span-full">
      <h2 class="text-black font-bold text-lg font-narrow tracking-tight">{{ section.settings.heading }}<h2>
    </div>
    {% for block in section.blocks %}
      <a href="{{ collection.url }}/{{ block.settings.tag }}" class="flex flex-col gap-5">
        <img
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          src="{{ block.settings.image | image_url: width: 900 }}"
          srcset="{{ block.settings.image | image_url: width: 205 }} 1x, {{ block.settings.image | image_url: width: 900 }} 2x"
          alt="{{ block.settings.image.alt }}"
          class="h-auto w-full transition ease duration-500"
          loading="lazy"
        />
        <div class="flex flex-col gap-2" x-data="{moreinfo:false}">
          <div class="flex justify-between">
            <h3 class="text-black font-bold capitalize text-lg font-narrow tracking-tight">{{ block.settings.heading }}</h3>
            <button @click="moreinfo=!moreinfo" class="text-subtle text-sm">
              <span :class="moreinfo ? 'hidden' : 'block'">+ More Info</span>
              <span :class="moreinfo ? 'block' : 'hidden'">- Less Info</span>
            </button>
          </div>
          <div x-show="moreinfo" class="prose leading-normal text-subtle">{{ block.settings.body }}</div>
        </div>
      </a>
    {% endfor %}
    <div class="h-full border border-dashed border-stone-300 rounded-lg flex items-center justify-center">
      <div class="text-subtle">Shop All Styles</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Denim Selector",
    "class": "denim-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Item",
        "type": "item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, 
          {
            "type": "richtext",
            "id": "body",
            "label": "Body Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Denim Selector"
      }
    ]
  }
{% endschema %}