{% schema %}
  {
    "name": "header",
    "class": "section-header sticky top-0 z-20 border-b",
    "tag": "header",
    "settings": [
      {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
      }
    ]
  }
{% endschema %}

{% if settings.show_promo_bar %}
  {% render 'promo-bar' %}
{% endif %}

<div class="py-[var(--space-sm)]">
  <div class="container flex items-center relative mx-auto gap-2 bg-neutral-100">
    <nav
      :class="$store.global.isMobileMenuVisible ? 'open' : 'closed'"
      aria-label="Mobile Navigation Overlay"
      class="block md:hidden"
      style="transition: all 300ms;"
      id="mobile-nav"
      role="navigation"
      x-cloak 
      x-data>
      <button
        id="mobile-nav-trigger"
        type="button"
        @click="$store.global.toggleMobileMenu()"
        :aria-expanded="$store.global.isMobileMenuVisible"
        aria-label="Mobile Navigation Button"
        aria-controls="mobile-menu-list"
        x-data>
        <span class="sr-only">Menu</span>
        <span aria-hidden="true" x-show="!$store.global.isMobileMenuVisible">
          {% render 'icon-hamburger' %}
        </span>
        <span aria-hidden="true" x-show="$store.global.isMobileMenuVisible">
          {% render 'icon-close-x' %}
        </span>
      </button>
      {% render 'mobile-menu' %}
    </nav>

    <a href="{{ routes.root_url }}">
      {{ shop.name }}
    </a>

    <div class="hidden md:block">
      {% render 'header-menu' %}
    </div>

    <div class="flex items-center space-x-3 self-center ml-auto">

      {% if settings.enable_modal %}
        <button
          type="button"
          class="text-neutral-800 fill-neutral-800 p-2 [&>svg]:h-[28px]"
          @click="$store.global.openModal()"
          aria-label="Open Modal">
          {% render 'icon-bubble-bottom' %}
        </button>
      {% endif %}

      {% if settings.enable_predictive_search %}
        <a href="{{ routes.search_url }}" class="block md:hidden text-neutral-800 fill-neutral-800 p-2 [&>svg]:h-[28px]">
          {% render 'icon-search' %}
        </a>
        <button
          type="button"
          class="text-neutral-800 fill-neutral-800 p-2 [&>svg]:h-[28px] hidden md:block"
          @click="$store.global.isPredictiveSearchVisible = true"
          :aria-expanded="$store.global.isPredictiveSearchVisible ? 'true' : 'false'"
          aria-label="Search"
          aria-controls="predictive-search">
          {% render 'icon-search' %}
        </button>
      {% else %}
        <a href="{{ routes.search_url }}" class="text-neutral-800 fill-neutral-800 p-2 [&>svg]:h-[28px]">
          {% render 'icon-search' %}
        </a>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        <a href="{{ routes.account_url }}" class="text-neutral-800 fill-neutral-800 p-2 [&>svg]:h-[28px]">
          {% render 'icon-user' %}
        </a>
      {% endif %}


      <a
        href="{{ routes.cart_url }}"
        class="[&>svg]:h-[22px] [&>svg]:w-auto relative text-neutral-800 p-2"
        x-cloak>
        <!-- {% render 'icon-cart' %} -->
        <span data-ajax-cart-bind="item_count" class="text-cloud-burst-500 absolute top-[58%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-[12px]">
          {{- cart.item_count -}}
        </span>
      </a>
    </div>

  {% comment %}
    // Output customer login links

    <ul>
    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="{{ routes.account_url }}">
    {{ 'action.account' | t }}
    </a>
    {{ 'action.log_out' | t | customer_logout_link }}
    {% else %}
    {{ 'action.log_in' | t | customer_login_link }}
    {{ 'action.register' | t | customer_register_link }}
    {% endif %}
    {% endif %}
    </ul>
  {% endcomment %}
  </div>
