{% schema %}
  {
    "name": "Product Section",
    "class": "section-main-product pb-5 lg:pb-20",
    "tag": "section",
    "settings": [
      {
        "type": "radio",
        "id": "picker_type",
        "label": "Variant Picker Type",
        "options": [
          {
            "value": "radio",
            "label": "Radio Buttons"
          }, {
            "value": "select",
            "label": "Select Dropdowns"
          }
        ],
        "default": "radio"
      }
    ],
    "blocks": [
      {
        "type": "collapsable_row",
        "name": "Collapsable Row",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, 
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% capture product_color %}
  {% if product.options contains 'Color' %}
    {% assign color_index = nil %}
    {% for option in product.options %}
      {% if option == 'Color' %}
        {% assign color_index = forloop.index0 %}
      {% endif %}
    {% endfor %}
    {% assign color_values = '' %}
    {% for variant in product.variants %}
      {% assign color = variant.options[color_index] %}
      {% unless color_values contains color %}
        {% assign color_values = color_values | append: color | append: ', ' %}
      {% endunless %}
    {% endfor %}
    {{ color_values | split: ', ' | uniq | join: ', ' | strip }}
  {% endif %}
{% endcapture %}

<div class="container">
  <div
    class="shopify-section-main-product-inner mx-auto"
    data-handle="{{ product.handle }}"
    data-id="{{ product.id }}"
    data-url="{{ product.url }}"
    data-section="{{ section.id }}"
    data-prodify="{{ section.settings.picker_type }}">

    <script type="application/json" data-prodify-variants-json>
      {{ product.variants | json }}
    </script>

    <a class="skip-to-content-link" href="#product-info-{{ section.id }}">
      Skip to product info
    </a>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20">
      
      <!-- Image Container -->
      
      <div class="media flex-1 lg:order-first" data-prodify-media-container>
        <div class="image-wrapper relative overflow-hidden flex flex-col gap-5">

          {% render 'product-image-gallery', product: product  %}

          {%  comment  %}
          {% if product.selected_variant and product.selected_variant.image %}
            {% assign media = product.selected_variant.image %}
          {% else %}
            {% assign media = product.featured_image %}
          {% endif %}
          {% endcomment  %}
          {% for media in product.media %}
              <div class="h-screen max-h-[calc(100vh-200px)] overflow-hidden hidden">
                <img
                  class="w-full h-full block object-contain"
                  src="{{ media | image_url }}"
                  alt="{{ media.alt }}"
                  srcset="{{ media | image_url: width: 800 }} 800w, {{ media | image_url: width: 1000 }} 1000w, {{ media | image_url: width: 1426 }} 1426w"
                  sizes="(min-width: 768px) 55vw, 100vw"
                  height="{{ media.height }}"
                  width="{{ media.width }}"
                  loading="eager"
                >
                <h1 class="text-4xl z-50 relative sr-only">
                  {{ product.selected_or_first_available_variant.options }}
                </h1>
              </div>
          {% endfor %}
        </div>
        <span class="top-0 left-0 z-100 text-[10px] sr-only">
          {{ product.selected_or_first_available_variant.id }}
        </span>
      </div>

      <!-- Info Container -->

      <div 
        class="info lg:col-start-2 flex flex-col items-center" 
        id="product-info-{{ section.id }}"
      >
        <div class="sticky xl:h-screen xl:max-h-[calc(100vh-200px)] top-20 flex flex-col justify-center gap-6 w-full max-w-xl">
          
          <span class="text-subtle sr-only">{{ product.type }}</span>
          
          <header class="flex flex-col">
            <div class="flex justify-between items-center">
              {% assign product_title = product.title | downcase %}
              {% render 'component-title' html:'h1' class:'' title:product_title %}
              <div>{% render 'price' %}</div>
            </div>
            <div class="text-subtle">
              {{ product_color }}
            </div>
          </header>

          <div class="description prose leading-normal text-subtle">
            {{ product.description }}
          </div>

          <div class="h-px bg-stone-200"></div>

          <div 
            x-data="{color:'{{ product_color | strip }}'}" 
            class="related-products flex flex-col gap-4"
          >
            <span x-text="color">Color!</span>
            <ul class="grid grid-cols-5 gap-2">
              {% for related_product in collections.all.products %}

                {% capture color %}
                  {% if related_product.options contains 'Color' %}
                    {% assign color_index = nil %}
                    {% for option in related_product.options %}
                      {% if option == 'Color' %}
                        {% assign color_index = forloop.index0 %}
                      {% endif %}
                    {% endfor %}
                    {% assign color_values = '' %}
                    {% for variant in related_product.variants %}
                      {% assign color = variant.options[color_index] %}
                      {% unless color_values contains color %}
                        {% assign color_values = color_values | append: color | append: ', ' %}
                      {% endunless %}
                    {% endfor %}
                    {{ color_values | split: ', ' | uniq | join: ', ' | strip }}
                  {% endif %}
                {% endcapture %}

                {% if related_product.title == product.title %}
                  <li 
                    @mouseover="color = '{{ color | strip }}'"
                    @mouseleave="color = '{{ product_color | strip }}'"
                    class="related-product-item relative group aspect-square"
                  >
                    <a 
                      href="{{ related_product.url | within: collection }}" 
                      {% assign color_hover = color | strip %}
                      {% assign product_color_hover = product_color | strip %}
                      class="block ring-1 {% if color_hover == product_color_hover %} ring-stone-400 {% else %} ring-stone-200 hover:ring-stone-400 {% endif %} p-2 absolute rounded inset-0">
                      <img
                        src="{{ related_product.featured_image | image_url: width: 300 }}"
                        alt="{{ related_product.featured_image.alt }}"
                        class="w-full h-full object-contain">
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          <div class="h-px bg-stone-200"></div>
          
          {% render 'product-variant-picker'
            , product: product
            , product_form_id: 'product-form-id'
            , picker_type: section.settings.picker_type %}
          
          <div class="quantity-row hidden">
            <label for="quantity-control-input">Quantity</label>
            <div class="quantity-control-container">
              <button type="button" data-prodify-quantity-decrement>
                {% render 'icon-minus' %}
              </button>
              <input
                tabindex="-1"
                type="number"
                id="quantity-control-input"
                value="1"
                disabled=""
                data-prodify-quantity-presentation>
              <button type="button" data-prodify-quantity-increment>
                {% render 'icon-plus' %}
              </button>
            </div>
          </div>

          <ajax-cart-product-form>
            <form
              action="{{ routes.cart_add_url }}"
              id="product_form_id"
              class="product-form"
              novalidate="novalidate"
              data-prodify-product-form>
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}">
              <input
                type="hidden"
                name="quantity"
                value="1"
                data-prodify-quantity-hidden-input>
              <div class="mb-[10px]">
                <button
                  type="submit"
                  name="add"
                  class="w-full h-14 rounded-xl px-6 text-white bg-stone-900 flex items-center justify-center hover:after:border-offset-1 cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-black"
                  {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                  {% endif %}>
                  <span class="[[processing]_&]:hidden">
                    {%- if product.selected_or_first_available_variant.available -%}
                      Add to cart
                    {%- else -%}
                      Sold out
                    {%- endif -%}
                  </span>
                  <span class="hidden [[processing]_&]:block [[processing]_&]:cursor-not-allowed">
                    Adding to cart...
                  </span>
                </button>
              </div>
              <div data-ajax-cart-errors="form" class="text-red-500">
                <!-- Error messages appear here -->
              </div>

              {%- if product.selected_or_first_available_variant.available -%}
                <button
                  type="button"
                  class="w-full h-14 rounded-xl px-6 text-stone-700 border border-stone-900/50 flex items-center justify-center hover:border-stone-900 transition ease"
                  onclick="onBuyNowClicked()">
                  Buy it now
                </button>
                <script>
                  const onBuyNowClicked = () => {
                    window.location.href = `/cart/${window?.prodify?.currentVariant?.id}:1`;
                  }
                </script>
              {%- endif -%}

              {{ form | payment_button }}
            </form>
          </ajax-cart-product-form>

          <div>
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'collapsable_row' -%}
                  <div class="tab py-3 border-b last:border-0" {{ block.shopify_attributes }}>
                    <details id="Details-{{ block.id }}-{{ section.id }}">
                      <summary class="list-none">
                        <h2 class="flex justify-between">
                          {{ block.settings.heading }}
                          <span class="h-5 w-5 [details[open]_&]:rotate-180">
                            {% render 'icon-caret' %}
                          </span>
                        </h2>
                      </summary>
                      <div class="py-5" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                        {{ block.settings.content }}
                      </div>
                    </details>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

